@page
@inherits ToSic.Sxc.Mvc.RazorPages.Page
@model Website.Pages.SxcBlockModel
@{
    ViewData["Title"] = "SxcBlock";
}

<h1>SxcBlock</h1>
<div>
    testing... 
</div>

@BlockBuilder.App.AppId

<ol>
    <li>
        App: @App <br/>
        Items: @App.Data (@App.Data.List.Count())<br/>
    </li>
    <li>
        AsDynamic entity: @AsDynamic(App.Data.List.First()).EntityTitle
    </li>
    <li>
        AsDynamic Json: @AsDynamic("{\"test\": 25}").test
    </li>
    <li>
        Get data BlogPost: @App.Data["BlogPost"].List.Count()
        @{
            var last = AsList(App.Data["BlogPost"]).Last();
        }
        First: @last.Title (image is @last.Image) <br/>
        Body: @last.Body 
        <div>
            @Html.Raw(last.Body)
        </div>
    </li>
</ol>

<hr/>